{% extends 'blog/base.html' %}
{% load my_tags %}



{% block t_nav %}
    <a class="n6" href="javascript:void(0)" onclick="backpage()">返回</a>

    <a href="{% url 'blog_index' %}" class="n1">网站首页</a>
    {% if tag %}
        <div class="n5">{{ tag.name }}</div>
    {% endif %}
    {% if type %}
        <div class="n2">{{ type.name }}</div>
    {% endif %}
    {% if group %}
        <div class="n3">{{ group.name }}</div>
    {% endif %}
    {% if key %}
        <div class="n4">搜索:{{ key }}</div>
    {% endif %}

{% endblock %}

{% block befor_article %}
    {#    <div class="pagebg ab" style="background-image:url(/static/images/50073384_p0_master1200.jpg); no-repeat;"> </div>#}

{% endblock %}

{% block html_content %}
    <div style="width: 100%;">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                按发布先后排序 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% set_url_var url=request.get_full_path var='o' value='add_date' %}">先=>后</a></li>
                <li><a href="{% set_url_var url=request.get_full_path var='o' value='-add_date' %}">后=>先</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                按阅读量排序 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% set_url_var url=request.get_full_path var='o' value='-read_times' %}">多=>少</a></li>
                <li><a href="{% set_url_var url=request.get_full_path var='o' value='read_times' %}">少=>多</a></li>
            </ul>
        </div>
    </div>


    <div class="blogsbox">
        {% for article in articles %}
            <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                <h3 class="blogtitle"><a href="{% url 'article_details' article.id %}">{{ article.title }}</a></h3>
                <span class="bplist"><a href="/" title=""></a></span>
                <p class="blogtext">{{ article.content|striptags|safe|truncatechars:120 }} </p>
                <div class="bloginfo">
                    <ul>
                        <li class="author"><a href="javascript:void (0)">{{ request.user.name|default:'XTH' }}</a></li>
                        <li class="lmname"><a
                                href="{% url 'get_type_articcles' article.type.id %}">{{ article.type }}</a></li>
                        <li class="timer">{{ article.add_date|date:"Y-m-d" }}</li>
                        <li class="view"><span>{{ article.read_times }}</span>&nbsp;阅读</li>
                        <li class="like">{{ article.good }}</li>
                    </ul>
                </div>
            </div>
        {% empty %}
            Sorry~没有符合条件文章
        {% endfor %}



        <div class="pagelist">


            <input type="hidden" value="{{ request.get_full_path }}" id="now_path">
            <a href="{% set_url_var url=request.get_full_path var='page' value=1 %}">首页</a>
            {% ifnotequal pages.page 1 %}
                <a href="{% set_url_var url=request.get_full_path var='page' value=pages.page|add:-1 %}">上一页</a>&nbsp;
            {% endifnotequal %}
            <a href="#">{{ pages.page }}/{{ pages.num }}</a>&nbsp;
            {% ifnotequal pages.page pages.num %}
                <a href="{% set_url_var url=request.get_full_path var='page' value=pages.page|add:1 %}">下一页</a>&nbsp;
            {% endifnotequal %}
            <a href="{% set_url_var url=request.get_full_path var='page' value=pages.num %}">尾页</a>
            <input type="number" placeholder="{{ pages.page }}" style="width: 40px;height: 35px;text-align: center"
                   id="jump_page_page" autocomplete="off">
            <a href="javascript:void(0)" onclick="jump_page()">跳转</a>

        </div>


    </div>
    <!--blogsbox end-->


{% endblock %}

